<div class="notif-container">

  <!-- Header -->
  <div class="notif-header">
    <div class="notif-header-icon">🔔</div>
    <div>
      <h2 class="notif-title">Notificaciones</h2>
      <p class="notif-subtitle">Gestiona tus alertas</p>
    </div>
  </div>

  <!-- Lista -->
  <div class="notif-list">

    <div class="notif-item" *ngFor="let n of notificaciones"
         [class.notif-item-leida]="n.leida"
         (click)="marcarLeida(n.id)">
      <div class="notif-icon-wrapper notif-message">
        {{ n.tipo === 'Mensaje' ? '💬' : n.tipo === 'Venta' ? '🎉' : n.tipo === 'Admin' ? '🛡' : '🔔' }}      </div>
      <div class="notif-content">
        <p class="notif-text">{{ n.mensaje }}</p>
        <span class="notif-time">{{ n.fechaCreacion | date:'d MMM yyyy, h:mm a' }}</span>
      </div>
    </div>

    <div *ngIf="notificaciones.length === 0" class="notif-item">
      <p class="notif-text">No tenés notificaciones aún</p>
    </div>

  </div>

</div>
